footer{
    
    h3{
        display:inline-block;
        padding-bottom: 5px;
        font-family: "Kanit-SemiBold";
        padding-left: 20px;
    }

    ul{
        list-style: none;
        font-weight: 400;

        li{
            padding-bottom: 5px;
        }
    }
 }
