/*grilla*/
.contenedor {  display: grid;
    
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
  
  
  .header { grid-area: header;
    background-color: $bgcolor;
 }
  .main { grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
 }

 .footer { grid-area: footer;
    background-color: $bgcolor;
    color: #E5EFF7;
    padding: 30px; }
}


@font-face{
    font-family: "Kanit-SemiBold";
    src: url("../font/Kanit-SemiBold.ttf"); 
     }