
    @media screen and (max-width: 768px){

   
        .contenedor {  display: grid;
        
            height: 100vh;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: 0.5fr 2fr ;
            gap: 0px 0px;
            grid-template-areas:
              "header header "
              "Main Main "
              "footer footer ";
          }
          .header { grid-area: header;
            background-color: #5D02A2;

            div{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                
                height:200px;
            } 
            .logo{
            
                width: 140px;
                display: inline-block;
                
                
            }
        
            h1{
                justify-self: flex-start;
                color: #E5EFF7;
                font-family: "Kanit-SemiBold";
                font-size: 20px;
                display: inline-block;
            }

            .menu{background-color:#191818fe;
                height: 50px;
                list-style: none;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                }
         }
        
        
    
        
    
    
    
        .main { grid-area: Main;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
         }
          
    
         .titulo-caracteristicas{
           text-align: center;
          }
          .caracteristicas{
            padding: 1rem;
            background-color:#5D02A2;
            width: 600px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center ;
         
         }

         .mercado{
            width: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
           
            .mercado h2{
                text-align: center;
                
                padding-bottom: 20px;
            }

            .cards-container{
                width: 750px ;
                height: 1000px;
                display: flex;
                flex-direction:row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                align-self: center;
                
            
            }
            .card {
                background-color: #ffffff;
                border: 1px solid #ddd;
                border-radius: 10px;
                box-shadow: 0 10px 12px black;
                width: 350px;
                padding: 20px;
                
             }
             .card img {
                width: 100%;
                border-radius: 10px;
            }
            
            .card h2 { 
                color: #5D02A2;
                padding-top: 10px;
                font-size: 1.5rem;
                font-family: "Kanit-SemiBold";
                text-align: center;
            }

        }
        
        
            .main { grid-area: Main;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
             }
    
             .cards-container_catalogo{
                width: 650px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                border-radius: 25px;
            }
            
            .titulo-catalogo{
                margin-top: 15px;
            }
            
            
              
            .nosotros{
                width: 400px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                height: 700px;
                padding: 20px;
            
            img{
                width: 450px;
                height: 300px;
                border-radius: 25px;
                border: solid black;
                    
                }
            p{
                    
                text-align: center;
                font-size: 17px;
                display: inline-block;
                padding: 15px;
                width: 450px;
                height: 300px;
                }
            }
    
            .mapa{
                width: 600px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-items: center;
                padding: 20px;
                height: 500px;
            }
            .mapa img{
                width: 450px;
                border-radius: 25px;
                border: solid black;
               
            }
            
            .mapa ul{
                padding: 20px;
                list-style: none;
                display: block;
                font-size: 20px;
                font-family: "Kanit-SemiBold";
             }

              .footer { grid-area: footer;
                background-color: #5D02A2;
                color: #E5EFF7;
                padding: 30px; } 
         }